.carInfoMain{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 0px;
    
}

.carInfoShow{
    background-color: rgba(241, 232, 232, 0.555);
    border: 1px solid gray;
    border-radius: 15px;
    text-align: start;
    padding: 20px 50px 40px 50px;
    margin: 50px auto;
    position: relative;
}
.carInfoShow img{
    width: 250px;
    height: auto;
    border: 3px solid aqua;
    border-radius: 10px;
}



.stock-btn{
    width: 60%;
    font-size: 22px;
    background-color: rgb(224, 235, 228);
    color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 45px;
}


.btn-danger{
    padding: 20px;
    border-radius: 50%;
}

.addNewBtn{
    padding: 5px 15px 10px;
}